@page
@model ProiectMedii.Pages.Services.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Serviciu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.ServiceCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceCategories)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Hairstylist.HairstylistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Hairstylist.HairstylistName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Duration)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Service?.ID">Editeaza</a> |
    <a asp-page="./Index">Inapoi la lista</a>
</div>
