@page "/"
@model ProiectMedii.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Servicii";
}

<h1>Servicii</h1>

<p>
    <a asp-page="Create">Creaza un nou serviciu</a>
</p>

<form asp-page="./Index" method="get">
<div class="form-actions no-color">
<p>
Gasiti serviciu dupa denumire sau numele hairstylelist-ului:
<input type="text" name="SearchString" value="@Model.CurrentFilter"
/>
<input type="submit" value="Search" class="btn btn-primary" /> |
<a asp-page="./Index">Inapoi la lista integrala</a>
</p>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                @Html.DisplayNameFor(model => model.Service[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.HairstylistSort">
                @Html.DisplayNameFor(model => model.Service[0].Hairstylist.HairstylistName)
                </a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Service[0].ServiceCategories)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Service[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ServiceD.Services)
        {
            string selectedRow = "";
            if (item.ID == Model.ServiceID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hairstylist.HairstylistName)
            </td>

                <td>
                    @{
                        foreach (var category in item.ServiceCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
