@page "{id:int?}"
@model ProiectMedii.Pages.Hairstylists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista hairstylisti</h1>

<p>
    <a asp-page="Create">Creeaza un nou hairstylist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hairstylist[0].HairstylistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HairstylistData.Hairstylists)
        {
            string selectedRow = "";
            if (item.ID == Model.HairstylistID)
            {
                selectedRow = "table-success";
            }
    <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.HairstylistName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Selecteaza</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Stergere</a>
            </td>
        </tr>
}
    </tbody>
</table>


@if (Model.HairstylistData.Services != null)
{
    <h3>Servicii facute de hairstylist-ul selectat</h3>
    <table class="table">
        @foreach (var item in Model.HairstylistData.Hairstylists)
        {
            string selectedRow = "";
            if (item.ID == Model.HairstylistID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @{
                        foreach (var b in item.Services)
                        {
                            @b.Title @: @b.Hairstylist.HairstylistName
                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}