@page
@model ProiectMedii.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista programari</h1>

<p>
    <a asp-page="Create">Creeaza o noua programare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Service.Hairstylist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Hairstylist.HairstylistName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
